extends layout

block content
  .mdl-grid
    form(role='form', method='post', action='/insert', enctype='multipart/form-data')
      .mdl-grid(style='flex-direction: column')
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          label.mdl-textfield__label(for='name') 名稱
          input#name.mdl-textfield__input(type='text' name='name' required)
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          label.mdl-textfield__label(for='user_name') 帳號
          input#user_name.mdl-textfield__input(type='text', name='user_name', required)
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          label.mdl-textfield__label(for='password') 密碼
          input#password.mdl-textfield__input(type='password', name='password', required)
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          label.mdl-textfield__label 圖片
          input.mdl-textfield__input(type='file', name='image', onchange='previewImage( this )')
          img#img_container(style='width: auto; height: 200px')
        a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored(href='/') 取消
        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored(type='submit') 新增

  script.
    function readImage(file) {
        var reader = new FileReader();
        var image  = new Image();
        reader.readAsDataURL(file);
        reader.onload = function(_file) {
            image.src    = _file.target.result;
            image.onload = function() {
                document.getElementById( 'img_container' ).src = this.src;
            };
            image.onerror= function() {
                alert('Invalid file type: '+ file.type);
            };
        };

    }

    function previewImage( obj ){
        var F = obj.files;
        if(F && F[0]) for(var i=0; i < F.length; i++) readImage( F[i] );
    }
