extends layout

block content
  .mdl-grid
    ul.mdl-list.mdl-shadow--2dp(style='20rem')
      li.mdl-list__item
        span.mdl-list__item-primary-content 付款狀態: #{state}
      li.mdl-list__item
        span.mdl-list__item-primary-content 商品描述: #{description}
      li.mdl-list__item
        span.mdl-list__item-primary-content 商品價格: NT$#{amount}
      li.mdl-list__item
        span.mdl-list__item-primary-content 建立時間: #{create_time}
  .mdl-grid
    a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored(href='/') 回首頁
