extends layout

block content
  .mdl-grid
    table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
      thead
        tr
          th 付款狀態
          th 交易描述
          th 商品價格
          th 建立時間
      tbody
        each transaction in accounts
          tr
            td= transaction.state
            td= transaction.description
            td= transaction.amount
            td= transaction.create_time
  .mdl-grid
    a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored(href='/') 回首頁
